.img{
    width: 120px;
    height: 40px;
}
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #fff;
}
header div{
    float: left;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    margin-left:200px;
    padding: 20px;
}


header .nav{
    position: absolute;
    top: 0%;
    right: 0%;
    margin-right: 200px;
}
header .nav ul{
    list-style: none;
}header .nav ul li{
    float: left;
    padding-right: 40px;
    padding-top: 10px;
}
header .nav ul li a{
    text-decoration: none;
    color: rgb(41,41,41);
    font-size: 12px;
    font-weight: bold;
}
header .nav ul li a:hover{
    color: #7f97ff;
}
/*section one start*/
.section1{
    background-color: #f9f9ff;
    width: 100%;
    height: 665px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}
.half1, .half2{
    width: 50%;
}
.half1{
    margin-left: 230px;
    margin-bottom: 120px;
    text-align:;
}
.half2{
    padding-right: 30px;
    margin-top: 40px;

}
.half2 img {
    max-width: 70%;
    height: auto;
}
.half1 h3{
    font-weight: normal;

}
.half1 h1{
    font-size: 50px;
}
.half1 p{
    color: rgba(78,78,78, 0.7);
    text-align:left;
}
.half1 input{
    padding: 8px 20px;
    background-color: #8293ff;
    outline: none;
    color: white;
    
    border: 1px solid #8293ff;
    font-size: 15px;

}
.half1 input:hover{
    box-shadow: 5px 10px 30px rgba(130,147,255, 0.5 );
    transition: all 0.5s , ease-in ,0.1s;
    outline: none;
} 
/*section one end*/

/*section two start*/
.section2{
    width: 90%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 250px;
}
.section2 div{
    width: 40%;
    margin: 0 auto;
}
.section2 img{
    width: 70%;
    height: auto;
    margin-bottom: 100px;
}
.section2 .img2{
    padding-left: 400px;
    border-color: #62bdfc;

}
.text2{
    margin-right: 500px;
}
.text2 h3{
    font-weight: normal;
    color: rgba(0,0,0, 0.7 );
    font-size: 15px;
}
.text2 h1{
    font-weight: bold;
    font: 100px;
}
.text2 p{
    font-size: 16px;
    color: rgba(0,0,0, 0.6 );
    width: 80%;
    text-align: left;
}
.text2 input{
    font-size: 20px;
    padding: 12px 16px;
    outline: none;
    color:white ;
    background-color: #8293ff;
    border: none;
}
.text2 input:hover{
    box-shadow: 5px 10px 30px rgba(130,147,255, 0.5 );
    transition: all 0.5s , ease-in ,0.1s;
    outline: none;
}
/*section two end*/
/*section three start*/
.section3{
    width: 100%;
    height: 650px;
    margin: 0 auto;
    text-align: center;
}
.firsttext h1{
    font-size: 40px;
    line-height: 10px;
}

.firsttext p{
    width: 670px;
    color: rgba(0,0,0, 0.6 );
    margin: 0 auto;
    line-height:20px ;
}
.ser1 img {
    width: 40px;
    height: auto;
    line-height: 50px;
}
.ser2 img {
    width: 40px;
    height: auto;
    line-height: 50px;
}

.service{
    width: 80%;
    margin: 0 auto;
    padding-top: 45px;
}
.ser1 .ser2{
    width: 100%;
    overflow: hidden;
}
.ser2{
    padding-top: 30px;
}
.ser1 div, .ser2 div {
    width: 32%;
    float: left;
    padding: 5px;
    margin: 0 auto;

}
.service h1{
    color: rgba(0,0,0, 0.8 );
}
.service p{
    color: rgba(0,0,0, 0.6 );
}
.ser1 div:hover{
    background-color: #8293ff;
    color: white;

}
.ser1 div:hover h1{
    color: white;
}
.ser1 div:hover p{
    color: white;
}
.ser2 div:hover{
    background-color:#8293ff ;
    color: white;
}
.ser2 div:hover h1{
    color: white;
}
.ser2 div:hover p{
    color: white;
}
/*section three end*/
/*section four start*/
.section4{
    width: 100%;
    height: 300px;
    background-color: #8293ff;
}
.section4 div{
    float: left;
    width: 20%;
    margin: 0 auto;
    position: relative;
    top:100px ;
    left: 200px; 
}
.section4 h1{
    font-size: 45px;
    line-height: 0px;
}

.section4 h1,p{
    text-align: center;
    color: white;

}
/*section four end*/
*portfo
/*portfolio part start*/
.section5{
    width: 100%;
    box-sizing: border-box;
}
.section5 .text3{
    text-align: center;
    padding: 100px,0;

}
.section5 .text3 h1{
    font-size: 40px;
    color: rgba(0,0,0, 0.9 );
}
.section5 .text3 p{
    color: rgba(0,0,0, 0.7 );
    margin-top: -20px;
    margin-bottom: 30px;
}
.section5 .imgg{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;

}
.section5 .imgg img{
    width: 250px;
    height: 200px;
    padding-bottom: 40px;
    text-align: center;
}
.section5 .imgg div{
    text-align: center;
    padding: 10px;
}
.section5 .imgg h1{
    font-size: 20px;
    color: rgba(0,0,0, 0.9 );
}
.section5 .imgg p{
    color: rgba(0,0,0, 0.7 );
    line-height: 0;

}
.section5 figure{
    background: linear-gradient(40deg, #8490ff 40%, #62bdfc 100%);
    width: 250px;
    height: 200px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.section5 figure:hover img{
    opacity: 0.3;
    transition: all, 0.3, ease-in;
}
/*portfolio part start*/
/*footer start*/
footer{
    background-color: #8293ff;
    width: 100%;
    height: 300px;
    position: absolute;
    color: white;
    margin-top: 50px;
}
footer .foot{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 70px;
}
footer .foot1 img{
    width: 20px;
    height: auto;
    cursor: pointer;
    padding: 2px,10px;
}
footer .foot .foot1 p{
    margin-left: auto;
    text-align: left;

}
footer .foot .foot1 input{
    font-size: 15px;
    outline: none;
    border: none;
    padding: 10px,150px,10px,10px;

}
footer .foot .foot1 button{
    font-size: 18px;
    color: white;
    background-color: rgb(5, 153, 153);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 8px,15px;
}



/*footer end*/










































